.master {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.master > header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
}

.master > header > h1 {
    cursor: pointer;
    margin-left: 40%;
}

.master > main {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    border: 1px solid black;
    background-image: url("@/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
}

.home-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.home-item {
    margin-bottom: 30%;
}

.search-master {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

.filter-item {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.search-item {
    margin-right: 25%;
}

.alert-master {
    display: flex;
    justify-content: center;
}

.my-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
